html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

#root {
  max-width: 1280px;      /* desktop limit */
  width: 100%;            /* take full width */
  padding: 2rem;
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;         /* DO NOT shrink inside flex parent */
}
